.p-title {
    // font-family:$font-family_corp;
    font-size: $font-size_xxl;
    font-weight: bold;
    color: #f6f5f4;
    transition: .3s;
}

.p-menu {
    // font-family:$font-family_corp;
    font-size: $font-size_xl;
    // font-weight:bolder;

}

.menu-link {
    color: $font-color_default;
    font-weight: bold;
    transition: .3s;
}

.p-hero-title {
    // font-family:$font-family_corp;
    font-size: 60px;
    text-align: center;
    color: white;
    text-shadow: 0 0 20px rgba(227, 123, 137, 0.4),
        0 0 50px rgba(0, 0, 0, 0.8);

}





.p-container-ornament {
    background: #e9e5d3;
    box-shadow: 0px 0px 8px 2px #ddd inset;
}

.p-container-normal .c-container-title {
    background-color: white;

    span {
        background-color: #fff;
        position: relative;
        padding: 0 10px;
        z-index: 1;
    }

    &:before,
    &:after {
        border-top: 1px solid #2e1f1a;
        content: "";
        display: block;
        position: relative;
        z-index: 0;
    }

    &:before {
        top: 28px;
    }

    &:after {
        top: -28px;
    }
}
