@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  background-color: #F7EFE2;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

a,
button {
  text-decoration: none;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

a {
  color: inherit;
  display: block;
}

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form * {
  outline-style: none;
}

@media screen and (max-width: 414px) {
  form {
    width: 90%;
  }
}

input,
textarea {
  box-sizing: border-box;
  transition: all 0.5s;
  background-color: #FDF7EB;
  resize: vertical;
}

input:focus,
textarea:focus {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  border: solid 2px #F9A603;
}

.modal-enter-active,
.model-leave-active {
  transition: opacity 0.5s;
}

.modal-enter,
.model-leave-to {
  opacity: 0;
}

.l-main {
  margin: 15px 15px 0;
  background-color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  .l-main {
    margin: 15px 10px 0;
  }
}

.l-main-top {
  margin: 0 15px;
  background-color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  .l-main-top {
    margin: 30px 10px 0;
  }
}

.l-header {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 3;
}

.l-header__title {
  position: relative;
  float: left;
  background-color: #F56608;
  margin-left: 30px;
  margin-top: -1px;
  height: 160px;
  width: 120px;
  text-align: center;
  color: #FEFEFE;
  border: 1px solid #FEFEFE;
  box-sizing: border-box;
  z-index: 3;
  transition: 1s;
}

.l-header__title--link {
  display: block;
  height: 100%;
}

.l-header__title--logo {
  line-height: 100px;
  font-size: 2rem;
  transition: 1s;
  font-family: "M PLUS 1p", sans-serif;
}

.l-header__title--desc {
  font-size: 0.8rem;
  margin-top: -10px;
  padding: 0 10px;
  transition-duration: 1s;
  transition-delay: 0.5s;
}

@media screen and (max-width: 414px) {
  .l-header {
    margin-top: -30px;
  }

  .l-header__title {
    height: 130px;
    width: 90px;
    margin-left: 5px;
  }

  .l-header__title--logo {
    line-height: 80px;
  }

  .l-header__title--desc {
    font-size: 0.5rem;
  }
}

.title-reduce {
  transition: 1s;
  -webkit-transition: 1s;
  width: 180px;
  height: 60px;
}

@media screen and (max-width: 414px) {
  .title-reduce {
    width: 120px;
  }
}

.title-reduce .l-header__title--logo {
  transition: 1s;
  line-height: 60px;
  font-size: 2.5rem;
}

.title-reduce .l-header__title--desc {
  transition: 1s;
  opacity: 0;
}

.l-footer {
  display: flex;
  justify-content: center;
  margin: 0 15px;
  background: #F9A603;
  color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  .l-footer {
    margin: 0 10px;
  }
}

.l-footer__copyright {
  font-size: 12px;
  margin: 10px;
}

.l-footer__button {
  margin: 5px;
}

.c-title {
  margin: 10px 0 20px;
}

.c-title__word {
  font-size: 32px;
  border-bottom: 2px solid #555;
  padding: 0 10px;
  word-break: break-all;
}

.c-title__word--footer {
  border-bottom-color: #FEFEFE;
}

.c-button {
  display: block;
}

.c-button__child-step {
  font-size: 16px;
  font-weight: bold;
  margin: 10px auto 20px;
  border-radius: 20px;
  letter-spacing: 3px;
  padding: 1px 7px 2px 10px;
  z-index: 2;
}

.c-button__top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.c-button__top--hero {
  bottom: 80px;
}

@media screen and (max-width: 414px) {
  .c-button__top--hero {
    bottom: 30px;
  }
}

.c-button__top--challenge {
  bottom: 50px;
}

.c-button__submit {
  font-size: 24px;
  border-radius: 2px;
  padding-bottom: 3px;
  margin: 30px auto;
}

.c-button__form {
  width: 100%;
}

.c-button__link--footer {
  padding: 1px 1.5em 3px;
}

.c-button__link--top {
  padding: 1px 3em 3px;
  white-space: nowrap;
}

.c-button--accent1 {
  background-color: #F9A603;
  border: 2px solid #F9A603;
  color: #4B6683;
}

.c-button--accent1:hover {
  background-color: #FEFEFE;
  border-color: #F9A603;
  color: #F56608;
}

.c-button--accent2 {
  background-color: #F56608;
  border: 2px solid #F56608;
  color: #FEFEFE;
}

.c-button--accent2:hover {
  background-color: #FEFEFE;
  border-color: #F56608;
  color: #F56608;
}

.c-button--accent3 {
  background-color: #4B6683;
  border: 2px solid #4B6683;
  color: #FEFEFE;
}

.c-button--accent3:hover {
  background-color: #FEFEFE;
  border-color: #4B6683;
  color: #4B6683;
}

.c-modal {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.c-prof-avatar {
  position: relative;
  border-radius: 50%;
}

.c-prof-avatar .input-file-area {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.c-flash__message {
  position: fixed;
  top: 0;
  width: 60%;
  padding: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(22, 168, 94, 0.9);
  display: none;
  text-align: center;
  color: #FEFEFE;
  font-weight: bold;
  z-index: 5;
}

.c-flash__message.alert {
  background-color: rgba(245, 44, 22, 0.9);
}

.c-category {
  display: inline-block;
  padding: 3px 10px;
  background-color: #4B6683;
  border-radius: 5px;
  color: #FEFEFE;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: bold;
}

.c-hero {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 981px) {
  .c-hero {
    width: 980px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .c-hero {
    height: 450px;
  }
}

.c-form-group {
  width: 100%;
  margin-top: 40px;
}

.c-form-group--email {
  font-size: 18px;
  font-weight: bold;
  word-break: break-all;
}

.c-form-group--submit {
  width: 80%;
  margin: 40px auto 30px;
}

@media screen and (max-width: 414px) {
  .c-form-group--submit {
    width: 90%;
  }
}

.c-form-group.confirm {
  width: 60%;
}

@media screen and (max-width: 414px) {
  .c-form-group.confirm {
    width: 90%;
  }
}

.invalid-feedback {
  display: inline-block;
  position: relative;
  display: inline-block;
  margin: 0.3em 0;
  padding: 5px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #4B6683;
  font-size: 16px;
  background: #F9A603;
  border: solid 3px #4B6683;
  border-radius: 3px;
}

.invalid-feedback:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 30%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #F9A603;
  z-index: 2;
}

.invalid-feedback:after {
  content: "";
  position: absolute;
  top: -30px;
  left: 30%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #4B6683;
  z-index: 1;
}

.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FDF7EB;
  background-image: none;
  border: 2px solid #EAD9B8;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.p-prof-avatar--edit {
  margin: 10px auto 0;
  width: 150px;
  height: 150px;
}

.p-prof-avatar--nav {
  margin: 10px auto 0;
  width: 100px;
  height: 100px;
}

.p-prof-avatar--step {
  margin: 0 auto;
  width: 80px;
  height: 80px;
}

.p-prof-avatar--list {
  margin-top: -30px;
  width: 60px;
  height: 60px;
  float: right;
}

.p-prof-avatar__name {
  word-break: break-all;
  padding: 10px;
  display: block;
}

.p-prof-avatar__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid #4B6683;
}

.p-prof-avatar__img--nav {
  height: 100px;
}

.p-prof-avatar__img--step {
  border: 3px solid #4B6683;
}

.p-prof-avatar__img--list {
  border: 4px solid #4B6683;
}

.p-container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 50px 0 100px;
}

@media screen and (max-width: 414px) {
  .p-container {
    width: 100%;
    padding-bottom: 50px;
  }
}

.p-container__top {
  padding: 250px 0 100px;
}

@media screen and (max-width: 414px) {
  .p-container__top {
    padding: 100px 0 50px;
  }
}

.p-container__body {
  width: 80%;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-container__body {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .p-container__body {
    width: 95%;
  }
}

.p-container__footer {
  padding: 10px;
}

.p-container__img {
  width: 80%;
  margin: 20px 0;
  height: 100％;
}

.p-container__link {
  text-decoration: underline;
  color: #4B6683;
  font-weight: bold;
}

.p-container__users {
  width: 40%;
  border: 2px solid #4B6683;
  border-radius: 5px;
  padding: 10px 15px;
  color: #4B6683;
}

.p-container__users--title {
  margin: 10px 0 -10px;
}

.p-container__users--count {
  display: inline-block;
  text-align: right;
  width: 60%;
  font-size: 4rem;
}

@media screen and (max-width: 414px) {
  .p-container__users--count {
    font-size: 3rem;
  }
}

.p-container__users--unit {
  margin-left: 10px;
  font-size: 1.5rem;
}

@media screen and (max-width: 414px) {
  .p-container__users {
    width: 80%;
  }
}

.p-container--main {
  background-color: #F7EFE2;
}

.p-container--accent1 {
  background-color: #F9A603;
}

.p-pagination {
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.p-pagination .disabled,
.p-pagination .page-item {
  width: 40px;
  height: 40px;
  margin: 4px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background: #FEFEFE;
  color: #4B6683;
  border: 2px solid #4B6683;
  transition: 0.3s;
}

.p-pagination .disabled.active,
.p-pagination .disabled :hover,
.p-pagination .page-item.active,
.p-pagination .page-item :hover {
  background-color: #4B6683;
  color: #FEFEFE;
}

.p-pagination .disabled > a,
.p-pagination .page-item > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.p-menu-trigger {
  float: right;
  right: 50px;
  top: 30px;
  z-index: 5;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.p-menu-trigger__border {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  border-radius: 50%;
  background-color: #F56608;
  -webkit-animation: pulsate 1.5s ease-out 0s infinite normal;
          animation: pulsate 1.5s ease-out 0s infinite normal;
}

.p-menu-trigger__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FEFEFE;
}

.p-menu-trigger__bar {
  display: inline-block;
  position: absolute;
  background-color: #555;
  width: 15px;
  height: 5px;
  transition: 0.3s;
  left: 10px;
}

.p-menu-trigger__bar:nth-of-type(1) {
  top: 9px;
}

.p-menu-trigger__bar:nth-of-type(2) {
  top: 18px;
}

.p-menu-trigger__bar:nth-of-type(3) {
  top: 27px;
}

.p-menu-trigger__bar:nth-of-type(4) {
  top: 36px;
}

.p-menu-trigger__menu {
  position: absolute;
  letter-spacing: -0.06em;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 12px;
  font-weight: 500;
  top: 8px;
  left: 24px;
  margin: 0 auto;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.p-menu-trigger.active .p-menu-trigger__bar {
  background-color: #FEFEFE;
}

.p-menu-trigger.active .p-menu-trigger__bar:nth-of-type(1) {
  transform: translateY(13px) translateX(-1px) rotate(-45deg);
  width: 30px;
}

.p-menu-trigger.active .p-menu-trigger__bar:nth-of-type(2),
.p-menu-trigger.active .p-menu-trigger__bar:nth-of-type(3) {
  background-color: #FEFEFE;
  opacity: 0;
}

.p-menu-trigger.active .p-menu-trigger__bar:nth-of-type(4) {
  transform: translateY(-14px) translateX(-1px) rotate(45deg);
  width: 30px;
}

.p-menu-trigger.active .p-menu-trigger__inner {
  background-color: #F56608;
}

.p-menu-trigger.active .p-menu-trigger__menu {
  opacity: 0;
}

.p-menu-trigger.active .p-menu-trigger__border {
  background-color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  .p-menu-trigger {
    top: 15px;
    right: 15px;
  }
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  20% {
    opacity: 0.5;
  }

  60% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }

  20% {
    opacity: 0.5;
  }

  60% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.p-nav-menu {
  right: -100%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(245, 102, 8, 0.9);
  transition: 0.2s;
  z-index: 2;
}

.p-nav-menu.active {
  transition: 0.5s;
  transform: translateX(-100%);
}

.p-dmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 414px) {
  .p-dmenu {
    display: block;
  }
}

.p-nav-item {
  color: #FEFEFE;
  padding-top: 100px;
  text-align: center;
}

.p-nav-item div {
  padding-bottom: 15px;
}

.p-menu {
  font-size: 24px;
}

.p-step__detail {
  width: 100%;
}

.p-description {
  width: 80%;
  margin: 30px auto;
  font-weight: lighter;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .p-description {
    width: 90%;
  }
}

.p-description .detail {
  word-break: break-all;
  white-space: normal;
  text-align: center;
}

.p-achievement-time {
  width: 90%;
  padding-top: 15px;
  margin: 60px auto 70px;
  background-color: #FEFEFE;
  border: 2px solid #4B6683;
  border-radius: 3px;
  text-align: center;
  color: #4B6683;
}

.p-step-child {
  position: relative;
  border: 2px solid #FEFEFE;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  margin: 40px auto;
  text-align: center;
  background-color: #F56608;
}

.p-step-child__step {
  margin: 25px auto 5px;
  font-size: 20px;
}

.p-step-child__description {
  height: 80px;
  width: 75%;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 auto;
  border-top: 1px solid #FEFEFE;
  border-bottom: 1px solid #FEFEFE;
  text-align: left;
}

.p-step-child__title {
  border-top: 1px solid #FEFEFE;
  width: 50%;
  margin: 0 auto;
}

.p-step-child__textarea {
  width: 75%;
  font-size: inherit;
  margin: 0 auto 30px;
  border: 0.5px solid #ddd;
  text-align: left;
  resize: vertical;
}

.p-step-child .error {
  background-color: #4B6683;
  font-size: 12px;
  padding: 5px 15px;
}

.p-step-child.isModal {
  z-index: 2;
  height: auto;
  width: 270px;
  border-radius: 150px;
  padding-bottom: 20px;
  color: #555;
}

.p-step-child.isModal .p-step-child__description {
  height: auto;
  min-height: 80px;
}

.p-step-detail {
  border-color: #4B6683;
  background-color: #FEFEFE;
}

.p-step-detail .p-step-child__description {
  border-top-color: #555;
  border-bottom-color: #555;
  font-weight: normal;
}

.p-step-detail .p-step-child__description.detail {
  border-bottom-color: #FEFEFE;
}

.p-step-detail .error {
  background-color: #F56608;
}

.p-step-detail-done {
  background-color: #F9A603;
}

.p-prof-description {
  width: 60%;
  margin: 50px auto;
  word-wrap: break-word;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .p-prof-description {
    width: 90%;
  }
}

.p-panel {
  border-radius: 5px;
  border: 1px solid #FDDF0A;
  float: left;
  background-color: #FDDF0A;
  position: relative;
}

.p-panel__link {
  padding: 40px 20px 15px;
  display: block;
}

.p-panel__link--img {
  text-align: center;
  padding: 0;
  margin: 40px 0 15px;
  width: auto;
}

.p-panel__title {
  width: 90%;
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.p-panel__title.detail {
  word-break: break-all;
  white-space: normal;
  text-align: center;
}

.p-panel__name {
  padding: 0 10px;
  float: right;
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 414px) {
  .p-panel__name {
    max-width: 110px;
  }
}

.p-panel__bar {
  border: 2px solid #555;
  border-radius: 15px;
  position: relative;
  width: 90%;
  margin: 15px auto 5px;
  color: #333;
  background-color: #FEFEFE;
  z-index: 1;
  font-weight: bold;
  overflow: hidden;
}

.p-panel__bar--progress {
  height: 28px;
  border-radius: 15px;
  width: 80%;
  position: absolute;
  top: -2px;
  left: 0px;
  background-color: #F9A603;
  z-index: 0;
  box-sizing: content-box;
}

.p-panel__bar--info {
  position: relative;
  padding-left: 15px;
  z-index: 1;
}

.p-panel__bar--val {
  position: relative;
  float: right;
  z-index: 1;
}

.p-panel__bar--val-sm {
  position: relative;
  z-index: 1;
  float: right;
  margin-right: 15px;
  font-size: 80%;
  padding-top: 3px;
}

.p-panel__bar--mystep {
  background-color: #FEFEFE;
  border-color: #F56608;
  color: #F56608;
}

.p-panel__bar--done {
  background-color: #FEFEFE;
  border-color: #555;
  color: #555;
}

.p-panel__badge {
  position: absolute;
  right: -10px;
  top: -20px;
  font-size: 4em;
  color: #F56608;
}

.p-panel__badge .fas {
  text-shadow: 1px 1px 5px #555;
}

.p-panel__step {
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}

.p-panel__step:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}

.p-panel__step--done {
  background-color: #FEFEFE;
  border-color: #FDDF0A;
}

.p-panel__step--mystep {
  background-color: #F56608;
  color: #FEFEFE;
  font-weight: bold;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-panel__step {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 414px) {
  .p-panel__step {
    width: 100%;
    margin-right: 0;
  }
}

.p-panel__edit {
  width: 70%;
  margin: 30px;
  background-color: #F56608;
  color: #FEFEFE;
  font-weight: bold;
  padding: 30px 0;
}

.p-panel__edit--input {
  color: #555;
}

.p-panel__edit--form {
  width: 90%;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-panel__edit {
    width: 100%;
    margin-right: 0;
  }

  .p-panel__edit--form {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .p-panel__edit {
    width: 100%;
  }

  .p-panel__edit--form {
    width: 90%;
  }
}

.p-panel__detail {
  width: 70%;
  margin: 30px;
  font-weight: bold;
  padding: 30px 0;
}

.p-panel__detail--form {
  width: 90%;
  padding: 30px 0;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-panel__detail {
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .p-panel__detail {
    width: 100%;
  }
}

.p-panel__wrap {
  width: 100%;
  position: relative;
  margin-top: 30px;
  margin-right: -15px;
}

@media screen and (max-width: 414px) {
  .p-panel__wrap {
    margin-right: 0;
  }
}

.ff1 {
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}

.fs1 {
  font-size: 32px;
}

.fs-xl {
  font-size: 24px;
}

.fs-m {
  font-size: 16px;
}

.mr10 {
  margin-right: 10px;
}

.mr-l {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb-l {
  margin-bottom: 15px;
}

.mb40 {
  margin-bottom: 40px;
}

.pr20 {
  padding-right: 20px;
}

@media screen and (max-width: 414px) {
  .pr20 {
    padding-right: 15px;
  }
}

.pl20 {
  padding-left: 20px;
}

@media screen and (max-width: 414px) {
  .pl20 {
    padding-left: 15px;
  }
}

