@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  background-color: #F7EFE2;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

a,
button {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

a {
  color: inherit;
}

form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form * {
  outline-style: none;
}

@media screen and (max-width: 414px) {
  form {
    width: 90%;
  }
}

input,
textarea {
  box-sizing: border-box;
  transition: all 0.5s;
  background-color: #FDF7EB;
}

input:focus,
textarea:focus {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  border: solid 2px #F9A603;
}

.form-control {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #FDF7EB;
  background-image: none;
  border: 2px solid #EAD9B8;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FDF7EB inset !important;
}

.l-main {
  margin: 15px 15px 0;
  background-color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  .l-main {
    margin: 15px 10px 0;
  }
}

.l-main-top {
  margin: 0 15px;
  background-color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  .l-main-top {
    margin: 80px 10px 0;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: 150px;
  box-sizing: border-box;
  padding-right: 80px;
  padding-left: 80px;
}

header .title {
  display: inline-block;
  background-color: #F56608;
  height: 150px;
  width: 120px;
  text-align: center;
  color: #FEFEFE;
}

header .title a {
  display: block;
  width: 100%;
  height: 100%;
}

header .title .title-step {
  line-height: 100px;
  font-size: 1.8rem;
}

header .title .title-step-sub {
  font-size: 0.8rem;
  line-height: 1.5;
  margin: -5px 10px 0;
}

@media screen and (max-width: 414px) {
  header {
    margin-top: -70px;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }

  header .title {
    height: 120px;
    width: 90px;
  }

  header .title .title-step-sub {
    font-size: 0.5rem;
    margin-top: -20px;
    -webkit-font-smoothing: none;
  }
}

@media screen and (max-width: 414px) {
  #nav-menu.active {
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
  }

  #nav-menu.active .menu-link {
    color: #777;
  }

  #nav-menu.active .p-menu {
    padding-top: 50px;
  }

  #nav-menu.active .menu-item {
    text-align: center;
    padding: 15px;
    margin-right: 0;
    font-size: 40px;
  }
}

#menu {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 414px) {
  #menu {
    display: block;
  }
}

#container {
  overflow: hidden;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  padding-bottom: 10px;
  background: #F9A603;
  color: #FEFEFE;
}

@media screen and (max-width: 414px) {
  footer {
    font-size: 12px;
    margin: 0 10px;
  }
}

footer p {
  font-size: 12px;
}

footer p a {
  color: #FEFEFE;
}

.c-header {
  width: 100%;
}

.c-hero {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  vertical-align: bottom;
}

@media screen and (min-width: 981px) {
  .c-hero {
    width: 980px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 414px) {
  .c-hero {
    height: 600px;
  }
}

.c-img-prof img {
  width: 100%;
  border-radius: 50%;
  box-sizing: border-box;
}

.c-form-group {
  width: 100%;
  margin-top: 40px;
}

.c-form-group-submit {
  width: 80%;
  margin-top: 60px;
}

.invalid-feedback {
  margin-top: 15px;
  color: red;
}

.c-menu-trigger {
  display: none;
  z-index: 3;
  width: 40px;
  height: 32px;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}

.c-menu-trigger span {
  display: inline-block;
  position: absolute;
  background-color: #555;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  transition: 0.3s;
}

.c-menu-trigger span:nth-of-type(1) {
  top: 0;
}

.c-menu-trigger span:nth-of-type(2) {
  top: 14px;
}

.c-menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.c-menu-trigger.active span {
  background-color: #777;
}

.c-menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}

.c-menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.c-menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-15px) rotate(45deg);
}

.c-container {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 100px;
}

@media screen and (max-width: 414px) {
  .c-container {
    width: 100%;
    padding: 50px 0 80px;
  }
}

.c-container-body {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .c-container-body {
    width: 90%;
  }
}

@media screen and (max-width: 414px) {
  .c-container-body {
    width: 95%;
  }
}

.c-container-title-wrap {
  margin: 10px 0 20px;
}

.c-container-title {
  font-size: 32px;
  display: inline;
  border-bottom: 2px solid #555;
  padding: 0 10px 5px;
}

.c-container-detail {
  width: 40%;
  border: 2px solid #4B6683;
  border-radius: 5px;
  padding: 10px 15px;
  color: #4B6683;
}

.c-container-detail h2 {
  margin: 10px 0 -10px;
}

@media screen and (max-width: 414px) {
  .c-container-detail {
    width: 80%;
  }
}

.c-container-detail .c-step-count {
  margin-left: 40%;
  font-size: 4rem;
}

@media screen and (max-width: 414px) {
  .c-container-detail .c-step-count {
    margin-left: 30%;
    font-size: 3rem;
  }
}

.c-container-detail .c-step-unit {
  margin-left: 10px;
  font-size: 1.5rem;
}

.c-button {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  transition: 0.4s;
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-size: 24px;
  margin: 20px 0;
}

.c-button-form {
  width: 100%;
}

.c-button-footer {
  padding: 0 1.5em;
}

.c-panel-wrap {
  width: 100%;
  position: relative;
  margin-top: 30px;
  margin-right: -15px;
}

@media screen and (max-width: 414px) {
  .c-panel-wrap {
    margin-right: 0;
  }
}

.c-panel {
  border-radius: 5px;
  border: 1px solid #F56608;
  float: left;
  box-shadow: 1px 1px 5px #555;
}

.c-panel a {
  padding: 10px 15px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.c-panel-title {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-category {
  display: inline-block;
  padding: 5px 10px;
  background-color: #555;
  border-radius: 3px;
  color: #FEFEFE;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-panel-name {
  display: inline-block;
  padding: 0 10px;
  float: right;
  max-width: 40%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.c-panel-bar {
  height: 28px;
  border: 2px solid #555;
  border-radius: 15px;
  position: relative;
  width: 90%;
  margin: 10px auto 5px;
  color: #333;
  background-color: #FEFEFE;
  z-index: 1;
}

.c-panel-bar-progress {
  height: 24px;
  border-radius: 15px;
  border: 2px solid #555;
  width: 80%;
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: #F9A603;
  z-index: 0;
  box-sizing: content-box;
}

.c-panel-bar-info {
  position: relative;
  padding-left: 15px;
  z-index: 1;
}

.c-panel-bar-val {
  position: relative;
  float: right;
  z-index: 1;
}

.c-panel-bar-val-sm {
  position: relative;
  z-index: 1;
  float: right;
  margin-right: 15px;
  font-size: 80%;
  padding-top: 3px;
}

.c-panel-badge {
  position: absolute;
  right: -10px;
  top: -20px;
  font-size: 4em;
  color: #F56608;
}

.c-panel-badge .fas {
  text-shadow: 1px 1px 5px #555;
}

.c-step-child {
  border: 3px solid #FEFEFE;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 40px auto;
  text-align: center;
}

.c-step-child h3 {
  margin: 25px auto 5px;
  font-size: 20px;
}

.c-step-child p {
  height: 80px;
  width: 80%;
  overflow: hidden;
  overflow-wrap: break-word;
  margin: 0 auto;
  border-top: 1px solid #FEFEFE;
  border-bottom: 1px solid #FEFEFE;
}

.c-step-child button {
  font-size: 16px;
  width: 30%;
  margin: 12px auto;
  border-radius: 20px;
}

.p-button-accent1 {
  background-color: #F9A603;
  border-color: #FEFEFE;
  color: #FEFEFE;
}

.p-button-accent2 {
  background-color: #F56608;
  border-color: #FEFEFE;
  color: #FEFEFE;
}

.p-button-accent3 {
  background-color: #4B6683;
  border-color: #4B6683;
  color: #FEFEFE;
}

.p-title-accent2 {
  border-bottom-color: #FEFEFE;
}

.p-title {
  font-size: 28px;
  font-weight: bold;
  color: #f6f5f4;
  transition: 0.3s;
}

.p-container-top {
  padding: 250px 0 100px;
}

@media screen and (max-width: 414px) {
  .p-container-top {
    padding: 100px 0 80px;
  }
}

.p-panel-step {
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
}

.p-panel-step form {
  width: 90%;
  padding: 30px 0;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-panel-step {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 414px) {
  .p-panel-step {
    width: 100%;
    margin-right: 0;
  }
}

.p-panel-edit {
  width: 70%;
  margin: 30px;
  background-color: #F56608;
  color: #FEFEFE;
  font-weight: bold;
  padding: 30px 0;
}

.p-panel-edit input,
.p-panel-edit textarea,
.p-panel-edit select {
  color: #555;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-panel-edit {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 414px) {
  .p-panel-edit {
    width: 90%;
  }
}

.p-panel-detail {
  width: 70%;
  margin: 30px;
  font-weight: bold;
  padding: 30px 0;
}

.p-panel-detail input,
.p-panel-detail textarea,
.p-panel-detail select {
  color: #555;
}

.p-panel-detail form {
  width: 90%;
  padding: 30px 0;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .p-panel-detail {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 414px) {
  .p-panel-detail {
    width: 90%;
  }
}

.p-panel-step-done {
  background: #FEBC2A;
}

.p-panel-step-mystep {
  background-color: #F56608;
  color: #FEFEFE;
  font-weight: bold;
}

.p-panel-bar-mystep {
  background-color: #FEFEFE;
  border-color: #F56608;
  color: #F56608;
}

.p-prof-edit {
  margin: 10px auto 0;
  width: 200px;
  height: 200px;
}

.p-prof-edit img {
  border: 5px solid #4B6683;
}

.p-prof-description {
  width: 60%;
  margin: 50px auto;
  word-wrap: break-word;
}

@media screen and (max-width: 414px) {
  .p-prof-description {
    width: 90%;
  }
}

.p-step-detail {
  border-color: #4B6683;
  background-color: #FEBC2A;
}

.p-step-detail p {
  border-top-color: #4B6683;
  border-bottom-color: #4B6683;
}

.p-menu {
  font-size: 24px;
}

.menu-link {
  color: #555;
  font-weight: bold;
  transition: 0.3s;
}

.p-hero-title {
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px rgba(227, 123, 137, 0.4), 0 0 50px rgba(0, 0, 0, 0.8);
}

.p-container-ornament {
  background: #e9e5d3;
  box-shadow: 0px 0px 8px 2px #ddd inset;
}

.p-container-normal .c-container-title {
  background-color: white;
}

.p-container-normal .c-container-title span {
  background-color: #fff;
  position: relative;
  padding: 0 10px;
  z-index: 1;
}

.p-container-normal .c-container-title:before,
.p-container-normal .c-container-title:after {
  border-top: 1px solid #2e1f1a;
  content: "";
  display: block;
  position: relative;
  z-index: 0;
}

.p-container-normal .c-container-title:before {
  top: 28px;
}

.p-container-normal .c-container-title:after {
  top: -28px;
}

.ff1 {
  font-family: "\6E38\30B4\30B7\30C3\30AF   Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
}

.fs1 {
  font-size: 32px;
}

.fs-xl {
  font-size: 24px;
}

.fs-m {
  font-size: 16px;
}

.mr10 {
  margin-right: 10px;
}

.mr-l {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb-l {
  margin-bottom: 15px;
}

.mb40 {
  margin-bottom: 40px;
}

.pr20 {
  padding-right: 20px;
}

@media screen and (max-width: 414px) {
  .pr20 {
    padding-right: 15px;
  }
}

.pl20 {
  padding-left: 20px;
}

@media screen and (max-width: 414px) {
  .pl20 {
    padding-left: 15px;
  }
}

