.l-footer {
    display: flex;
    justify-content: center;
    margin: 0 15px;
    background: $color-accent1;
    color: $color-base;

    @include mq() {
        margin: 0 10px;
    }

    &__copyright {
        font-size: $font-size_s;
        margin: 10px;
    }

    &__button {
        margin: 5px;
    }
}
