.l-main {
    margin: 15px 15px 0;
    background-color: $color-base;

    @include mq() {
        margin: 15px 10px 0;
    }
}

.l-main-top {
    margin: 0 15px;
    background-color: $color-base;

    @include mq() {
        margin: 30px 10px 0;
    }
}
