// ===============================
// タイトル
// ===============================
.c-title {
    margin: 10px 0 20px;

    &__word {
        font-size: $font-size_3l;
        border-bottom: 2px solid $color-dark;
        padding: 0 10px;
        word-break: break-all;

        &--footer {
            border-bottom-color: $color-base;
        }
    }
}


// ===============================
// ボタン
// ===============================
.c-button {
    display: block;

    &__child-step {
        font-size: $font-size_default;
        font-weight: bold;
        margin: 10px auto 20px;
        border-radius: 20px;
        letter-spacing: 3px;
        padding: 1px 7px 2px 10px;
        z-index: 2;
    }

    &__top {
        position: absolute;
        width: 250px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);

        &--hero {
            bottom: 80px;

            @include mq() {
                bottom: 30px;
            }
        }

        &--challenge {
            bottom: 50px;
        }
    }

    &__submit {
        font-size: $font-size_xl;
        border-radius: 2px;
        padding-bottom: 3px;
        margin: 30px auto;
    }

    &__form {
        width: 100%;
    }

    &__link {
        &--footer {
            padding: 1px 1.5em 3px;
        }

        &--top {
            padding: 1px 3em 3px;
            white-space: nowrap;
        }
    }

    &--accent1 {
        background-color: $color-accent1;
        border: 2px solid $color-accent1;
        color: $color-accent3;

        &:hover {
            background-color: $color-base;
            border-color: $color-accent1;
            color: $color-accent2;
        }
    }

    &--accent2 {
        background-color: $color-accent2;
        border: 2px solid $color-accent2;
        color: $color-base;

        &:hover {
            background-color: $color-base;
            border-color: $color-accent2;
            color: $color-accent2;
        }
    }

    &--accent3 {
        background-color: $color-accent3;
        border: 2px solid $color-accent3;
        color: $color-base;

        &:hover {
            background-color: $color-base;
            border-color: $color-accent3;
            color: $color-accent3;
        }
    }
}



// ===============================
// STEP詳細/編集画面のモーダル
// ===============================
.c-modal {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


// ===============================
// プロフィール画像
// ===============================

.c-prof-avatar {
    position: relative;
    border-radius: 50%;

    .input-file-area {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        opacity: 0;
    }
}


// ===============================
// フラッシュメッセージ
// ===============================
.c-flash__message {
    position: fixed;
    top: 0;
    width: 60%;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(22, 168, 94, 0.9);
    display: none;
    text-align: center;
    color: $color-base;
    font-weight: bold;
    z-index: 5;

    &.alert {
        background-color: rgba(245, 44, 22, 0.9);
    }
}


// ===============================
// カテゴリー
// ===============================
.c-category {
    display: inline-block;
    padding: 3px 10px;
    background-color: $color-accent3;
    border-radius: 5px;
    color: $color-base;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: bold;
}

// ===============================
// ヒーローエリア
// ===============================
.c-hero {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    position: relative;

    @include mq(xl) {
        width: 980px;
        margin: 0 auto;
    }

    @include mq() {
        height: 450px;
    }
}

// ===============================
// 入力フォーム
// ===============================

.c-form-group {
    width: 100%;
    margin-top: 40px;

    &--email {
        font-size: 18px;
        font-weight: bold;
        word-break: break-all;
    }

    &--submit {
        width: 80%;
        margin: 40px auto 30px;

        @include mq() {
            width: 90%;
        }
    }

    &.confirm {
        width: 60%;

        @include mq() {
            width: 90%;
        }
    }
}


.invalid-feedback {
    display: inline-block;
    position: relative;
    display: inline-block;
    margin: 0.3em 0;
    padding: 5px 10px;
    min-width: 120px;
    max-width: 100%;
    color: $color-accent3;
    font-size: 16px;
    background: $color-accent1;
    border: solid 3px $color-accent3;
    border-radius: 3px;
}

.invalid-feedback:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 30%;
    margin-left: -15px;
    border: 12px solid transparent;
    border-bottom: 12px solid $color-accent1;
    z-index: 2;
}

.invalid-feedback:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 30%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-bottom: 14px solid $color-accent3;
    z-index: 1;
}


.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #FDF7EB;
    background-image: none;
    border: 2px solid #EAD9B8;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.8em;
    width: 100%;
}


// ===============================
// 
// ===============================


// ===============================
// 
// ===============================


// ===============================
// 
// ===============================
